<div class=" nav pull-right" >
	<ul>
		<li> <%= link_to "Home",{:controller=>'static_pages', :action=>'home'}  %></li>
		<li> <%= link_to "about",{:controller=>'static_pages', :action=>'about'}  %></li>
		<li> <%= link_to "Help",{:controller=>'static_pages', :action=>'help'}  %></li>
		<li><%= link_to "Sign in",{:controller=>'users', :action=>'new'} %></li>
	</ul>


</div>

